*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}


    #contact .con_area .con_txt_left {
        padding: 3.2% 1%;
    }

    @media screen and (max-width:1024px) {
    #contact .con_area .con_txt_left {
        padding: 10.2% 0;
    }

    #contact .con_area .con_txt_left ul li {
        padding: 0 1%;
    }
}