
/*데탑*/
@media screen and (max-width:1440px) {
  #home .main_vid video {
    width:auto;
    height: 100%;
}

#down .down_area button {
  width: 35%;
}

#contact .con_area .con_txt_right {
  padding: 6% 5%;
}

#contact::before {
  bottom: -78px;
}

.blockchain_systems img {
  max-width: 90%;
}

#about_02 .ab02_bg {
  height: 68%;
}
}



/*노트북*/
  @media screen and (max-width:1024px) {
    #home .main_area {
      top: 62%;
    }

    .hd_all .pc_wrap {
      display: none;
  }

  .hd_all .menu-btn {
    display: block;
}

#intro03 .intro03_area .int3_txt_box .int3_box li {
  padding: 3% 2%;
}

#about_02 .ab02_bg {
  height: 62%;
}
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    h3 {
      font-size: 2em;
      padding-bottom: 10px;
    }

    #contact .con_area .con_txt_right {
      padding: 8% 5%;
  }

  #home .main_area .main_txt p br{
    display: none;
  }

  
  .ab_cont {
    display: block;
  }

  .ab_cont_box {
    width: 60%;
    margin-bottom: 30%;
    margin: auto;
  }
  #about::before {
    content: '';
    background: url(../img/int1_bg_m.jpg) no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-size: cover;
    transform:scaleX(-1);
  }

  #about .ab1_bg::before {
    width: 100%;
  }
#about .ab_cont_box {
    padding: 5%;
    margin: 0 auto 5%;
}

  #about .ab_cont_box p {
    font-size: 0.9rem;
  }

  #intro03 {
    height:100%;
    background: url(../img/int3_bg_m.png) no-repeat center center;
    background-size: cover;
}

#intro03 .intro03_area {
  width: 100%;
  height:100%;
  padding: 100px 0;
  box-sizing: border-box;
}

#intro03 .intro03_area .int3_txt_box {
  height: 100%;
}

#intro03 .intro03_area .int3_txt_box .int3_box li {
  padding: 10% 5%;
  width: 80%;
  color: #fff;
}

  #intro03 .intro03_area .int3_txt_box .int3_box {
    width: 100%;
    flex-direction: column;
}

#coin .coin_area .chart_area {
  flex-direction: column;
}

#coin .coin_area .chart_data {
  margin-top: 50px;
  width: 90%;
}


#coin .coin_area div.chart {
  width: 90%;
}

#coin {
  width: 100%;
  height: 100%;
  padding: 90px 0;
  background: url(../img/coin_bg_m.png) no-repeat center;
  background-size: cover;
}

#coin .coin_area .chart_data .chart_txt ul li {
  align-items: center;
  line-height: 1.2;
  flex-direction: column;
  margin-bottom: 20px;
}

#coin .coin_area .chart_area .chart_txt br.dis{
  display: block;
}

#roadmap .roadmap_area .road_box_area .road_box .road_txt {
  width: 50%;
}

#roadmap .roadmap_area .road_box_area .road_box {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#roadmap .roadmap_area .road_box_area .road_box .road_img {
  width: 80%;
}

#roadmap .roadmap_area .road_box_area .road_box .road_txt {
  width: 80%;
  height: 331px;
}

#roadmap .roadmap_area .road_box_area .road_box.se {
  flex-direction: column;
  margin: 5% auto;
}

  footer .footer_area .footer_f{
    margin-bottom: 30px;
  }
  footer .footer_area {
    flex-direction: column;

}
}



/*모바일*/

@media screen and (max-width:767px) {

  br.di{
    display: block;
  }

  #home .main_area .main_txt b {
    font-size: 1.8rem;
    font-weight: 500;
}

#down .down_area {
  justify-content: space-between;
}

#down .down_area button {
  width: 48%;
}


#about .about_area p{
  font-size: 0.9rem;
}

#about .ab_cont_box {
  padding: 5%;
  margin: 0 auto 5%;
}

#about .ab_cont_box p {
  font-size: 0.8rem;
}


#about_02 .ab02_bg {
  height: 54%;
}

#about_02 .ab02_area p {
  font-size: 0.8rem;
  margin-bottom: 7%;
}

#contact .con_area {
  flex-direction: column;
}

#contact .con_area .con_txt_left {
  width: 90%;
}

#contact .con_area .con_txt_right {
  width: 90%;
}

footer .footer_area .footer_w {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

footer .footer_area .footer_w button {
  padding: 10px;
  width:50%;
  margin-right: 0;
}

footer .footer_area .footer_w:last-child button{
  margin-top: 30px;
}

}


/*모바일2*/


@media screen and (max-width:576px) {



  #home .main_area h2 {
    font-size: 4rem;
  }

  #home .main_area .main_txt b {
    font-size: 1.2rem;
    font-weight: 500;
}

#home .main_area .main_txt p {
  font-size: 1rem;
}

#down .down_area {
  width:100%;
  flex-direction: column;
}

#down .down_area button {
  width: 90%;
}

#down .down_area .btn_wallet {
  margin-top: 30px;
}

#down .down_area button a {
  font-size: 1.2rem;
}

#about_02 .ab02_bg {
  height: 47%;
}

#about_02 .ab02_area {
  padding: 80px 0;
}


#intro03 .intro03_area .int3_txt_box .int3_box {
  width: 90%;
  margin: 0 auto;
}

#intro03 .intro03_area .int3_txt_box .int3_box li h4 {
  font-size: 1.1rem;
}

#intro03 .intro03_area .int3_txt_box ul li p{
  font-size: .8rem;
}

#intro03 .intro03_area .int3_img img.int3_img_w{
  display:none;
}
#intro03 .intro03_area .int3_img img.int3_img_m{
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

#roadmap .roadmap_area .road_box_area .road_box .road_txt {
padding: 0 20px;
}

#roadmap .roadmap_area .road_box_area .road_box .road_txt li p{
  font-size: .8rem;

}

#coin .coin_area .chart_area {
  margin-top: 0px;
}

#coin .coin_area div.chart {
  width: 100%;
}

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {


    footer .footer_area .footer_w button {
      width: 70%;
    }

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {
      #home .main_area .main_txt b br{
       display:none;
    }

    #about_02 .ab02_bg {
      height: 45%;
    }
    

}
